/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img,  ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline;  
} */

* {
    border: solid 1px black;
}

p, a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 32pt;
}

.plan {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.involved {
    background-color: #FFCD69;
}

#main {
    background-color: #DDB9A3;
    padding: 20px;
    color: white;
}

footer {
    background-color: #F9E7DC;
} */

#currentFires, #fee {
    font-weight: 700;
    display: inline;
}

a {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 15px;
    margin: 0 5%;
    color: white;
    width: 15vw;
    vertical-align: middle;
}

nav {
    text-align: center;
}

#seal {
    width: 10vw;
    display: inline-block;
}

#seal img {
    object-fit:cover;
    width: 10vw;
    border-radius: 100%;
}

#topText {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.container {
    margin: 0 5vw;
}

#banner {
    height: 15vh;
    width: 100vw;
}

#banner img {
    height: 15vh;
    width: 100vw;
    object-fit: cover;
    background-position: top;
}

footer a {
    margin-top: 30px;
    margin-bottom: 30px;
}

#warnings img {
    max-width: 12vw;
}

#fireWarning, #lodgingWarning {
    margin: 5vh auto;
    max-width: 30vw;
    font-size: 9pt;
    text-align: center;
}
